<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- Configurar Forma de Captura -->
    <add key="TraceHTML" value="true"/>
    
    <!-- Dados de Origem -->
    <add key="HostDeLeitura" value="127.0.0.1"/>
    <add key="PortaDeLeitura" value="8080"/>
    
    <!-- Dados de destino -->
    <add key="HostDeDestino" value="127.0.0.1"/>
    <add key="PortaDeDestino" value="80"/>
    <add key="UrlDeDestino" value="https://www.fazenda.sp.gov.br/CODIF/codigo/login.aspx"/>
  </appSettings>
</configuration>